* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .wrapper{
    width: 100%;
  }
  .img-banner{
    display: none;
    cursor: pointer;
  }
  .img-info{
    width: 100%;
  }
  .img-info h2{
    padding: 30px 30px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: aqua;
    line-height: 44px;
  }
  iframe{
    width: 100%;
    
  }
  @media only screen and (min-width: 768px) {
    .img-banner{
      display: block;
      width: 100%;
      padding-bottom: 30px;
    }
    .wrapper{
      width: 600px;
      margin: 0 auto;
    }
    .img-info h2{
      padding: 20px 0px 0px;
    }
    iframe{
      padding-top: 30px;
    }
  }
  @media only screen and (min-width: 1000px){
    .wrapper{
      width: 1000px;
    }
    .img-info{
    width: 50%;
    float: right;
    }
    .img-info h2{
      padding: 20px 0px 0px 30px;
    }
    .img-info p{
      padding: 20px 0px 0px 30px;
        
    }
  }
  /*body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:black;
    position: relative;
    padding-bottom: 58px;
    /*min-height: 100vh;
    height: 100%;
  }*/

  /*header h1 {
    font-size: 48px;
    margin-bottom: 30px;
  }
  header p {
    font-size: 22px;
  }
  main {
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
    
    min-height: calc(100vh - 211px - 58px); **
  }
  
  article {
    background-color: rgb(21, 63, 66);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 90%;
    top: 110%;
    position: absolute;
    
  }*/
  /*
  .aptaakh-khomus{
    text-align: center;
    left: 35%;
    position: absolute;
  }
  .etekh{
    float: left;
    position: absolute;
    left: 3.5%;
  }
  .khomus-breath{
    float: right;
    right: 2%;
    position: absolute;
    top: 60%;

  }
  article:last-child {
    margin-bottom: 0;
  }
  article h3 {
    margin: 10px 0 25px 0;
  }
  article p {
    margin-top: 16px;
    line-height: 24px;
    color: rgba(48, 148, 161, 0.5);
  }
  */
  footer {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 1; 
  }
  
  

